<div>

    <div class="row nav nav-block">

        <li class="nav-item">
            <a class="nav-link" href="?category=protest">Protest</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="?category=fight">Fight</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="?category=assault">Assault</a>
        </li>

    </div>

    <div class="row news-block">
        <ul class="list-group">
            {{#each stories}}
                    <a class="news-link" href="{{this.sourceurl}}" target="blank">
                        {{this.sourceurl}}<span class="badge badge-primary badge-pill">{{this.numarticles}}</span>
                    </a>
            {{/each}}
        </ul>
    </div>

</div>