<div>
    <div class="row news-header"><h1>{{ title }}</h1></div>
    <div class="row news-block">
        <ul class="list-group">
            {{#each stories}}
                    <a class="news-link" href="{{this.sourceurl}}" target="blank">
                        {{this.sourceurl}}<span class="badge badge-primary badge-pill">{{this.numarticles}}</span>
                    </a>
            {{/each}}
        </ul>
    </div>
</div>